# Project exclude paths
/.gradle/
/Smart Calculator/task/build/
/Smart Calculator/task/out/
/Smart Calculator/task/out/production/classes/
/Topics/BigInteger/LCM/out/
/Topics/BigInteger/LCM/out/production/classes/